<h1>About Us</h1>

<span>Welcome to Darshan University! We are a vibrant community of learners, dreamers, and doers, dedicated to empowering students like you to 
    unlock your full potential.Our mission is to inspire curiosity, foster creativity, and cultivate a lifelong love of learning. 
    Whether you’re here to explore new ideas, develop skills, or connect with like-minded peers, we’re committed to providing the resources 
    and support you need to succeed. Together, we believe in shaping a brighter future—one step, one project, and one discovery at a time.</span>